@using AutoMed.Models.ViewModels;
@model CreateReportViewModel
@{
    ViewBag.Title = "Reports";
}

    <h2>Generate A Report</h2>
    <br />

    @using (Html.BeginForm("Details", "Report", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-create" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MaxDiscountDollars, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaxDiscountDollars, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaxDiscountDollars, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinDiscountDollars, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MinDiscountDollars, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MinDiscountDollars, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaxDiscountPercentage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaxDiscountPercentage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaxDiscountPercentage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinDiscountPercentage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MinDiscountPercentage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MinDiscountPercentage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NumberInHousehold, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumberInHousehold, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberInHousehold, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.State, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <a data-toggle="modal" class="col-md-10 col-md-offset-2" data-target="#location-settings-modal"  style="padding-left:0em;">
                    Location Filter
                    <p class="hidden text-danger col-md-8" style="right: 22%;float: right;" id="location-checkbox-error">Please choose at least one location</p>

                </a>

            </div>
            <div class="form-group">

                <a data-toggle="modal" class="col-md-10 col-md-offset-2" data-target="#data-settings-modal" style="padding-left:0em;">
                    Data Filter
                    <p class="hidden text-danger col-md-8" style="right: 22%;float: right;" id="data-field-error">Please choose at least one data field</p>

                </a>

            </div>
            <div class="modal fade" id="location-settings-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Location Filter</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    @Html.CheckBoxFor(m => m.AllLocations) @Html.LabelFor(m => m.AllLocations)
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Include</th>
                                    </tr>
                                </thead>
                                @for (int i = 0; i < Model.Locations.Count(); i++)
                                {
                                    if (Model.Locations[i].Item.IsDeleted == false)
                                    {
                                    <tr>
                                        <td>
                                            @Model.Locations[i].Item.Id
                                        </td>
                                        <td>
                                            @Model.Locations[i].Item.Name
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(m => m.Locations[i].IsChecked, new { @class = "location_checkbox" })
                                            @Html.HiddenFor(m => m.Locations[i].Item.Id)
                                        </td>
                                    </tr> 
                                    }
                                }
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="data-settings-modal">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Data Filter</h3>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 text-center">
                                @Html.CheckBoxFor(m => m.AllColumns) @Html.LabelFor(m => m.AllColumns)
                            </div>
                            <div class="row form-group">
                                @for (int i = 0; i < Model.ColumnsToInclude.Count; i++)
                                {
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <label class="checkbox-inline">
                                            @Html.CheckBoxFor(m => m.ColumnsToInclude[i].IsChecked, new { @class = "column_checkbox" })
                                            @Model.ColumnsToInclude[i].Item
                                            @Html.HiddenFor(m => m.ColumnsToInclude[i].Item)
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



        
        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <input type="submit" class="btn btn-primary btn-default maxwidth" value="Generate" />
            </div>
        </div>
      
            }

    

@section Scripts {
    <script> var numLocations = @Model.Locations.Count; </script>
<script type="text/javascript">
        $("#reports-link").addClass("active");
</script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/DateSelect.js")
    @Scripts.Render("~/Scripts/Report/Create.js")
}
