@model AutoMed.Models.DataModels.Location

@{
    ViewBag.Title = "Edit";
    string removeRowClass = Model.BracketMappings.Count == 1 ? "disabled" : "";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Locations", FormMethod.Post, new { id = "location-form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Location</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PovertyLevelCutoff, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PovertyLevelCutoff, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PovertyLevelCutoff, "", new { @class = "text-danger" })
            </div>
        </div>

        <button class="btn btn-default @removeRowClass" id="remove-row"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
        <button class="btn btn-default" id="add-row"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <table id="mappings-table" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Poverty Level
                    </th>
                    <th>
                        Associated Discount Percentage
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.BracketMappings.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.EditorFor(m => m.BracketMappings[i].PovertyLevel, new { htmlAttributes = new { @class = "form-control discount" } })
                        </td>
                        <td>
                            @Html.EditorFor(m => m.BracketMappings[i].Discount, new { htmlAttributes = new { @class = "form-control discount" } })
                        </td>
                        @Html.HiddenFor(m => m.BracketMappings[i].Id)
                        <input data-val="true" data-val-required="The Id field is required." id=@string.Format("BracketMappings_{0}__LocationId", i) name=@string.Format("BracketMappings[{0}].LocationId", i) type="hidden" value=@Model.BracketMappings[i].LocationId>
                        <input name="BracketMappings.Index" value="@i" type="hidden" />
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Locations/ManipulateDataTable.js"></script>
    <script type="text/javascript">
        $("#locations-link").addClass("active");
        var locationId = @Model.Id;
        $("#add-row").click(function (event) {
            event.preventDefault();
            addRow();
            var lastTd = $("td").last();
            var lastIndex = table.data().length - 1;
            lastTd.after('<input type="hidden" id="BracketMappings_' + lastIndex + '__LocationId"  name="BracketMappings[' + lastIndex + '].LocationId" value="' + locationId + '">');
            lastTd.after('<input type="hidden" name="BracketMappings.Index" value="'+ lastIndex + '" />');
        });

        $("#remove-row").click(function(event) {
            event.preventDefault();
            markRowAsDeleted();
            removeRow();
        });
    </script>
}