@using AutoMed.Models;
@using AutoMed.Models.DataModels
@model AutoMed.Models.DataModels.Quote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="form-horizontal">
        
        <div class="form-group">
            @Html.LabelFor(model => model.DiscountPercentage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DisplayFor(model => model.DiscountPercentage, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountDollars, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.DisplayFor(model => model.DiscountDollars, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.DiscountDollars, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentNumberInHousehold, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DisplayFor(model => model.CurrentNumberInHousehold, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DisplayFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateReviewed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DisplayFor(model => model.DateReviewed, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.EligibleCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DisplayFor(model => model.EligibleCost, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.MandatoryCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.DisplayFor(model => model.MandatoryCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MandatoryCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Approval, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Approval, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DisplayFor(model => model.WorkDescription, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Images</label>
            <div class="col-md-10">
                @foreach (Document document in Model.Documents)
                {
                    <img onclick="LoadModal(this.src)" width="200" height="200" src="/Document/Image/@document.Id" />
                }
            </div>
        </div>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
