
@model AutoMed.Models.Customer


@{
    ViewBag.Title = "CustomerDetails";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<h2>Index</h2>
<body>
    

    
            
            <h1>Customer Details</h1>
        
        <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Customers" }, Request.Url.Scheme)">
            <span>Back to Customers</span>
        </a>
        <div data-role="main" class="ui-content">
            <div data-role="collapsible">
                <h1>Vehicles</h1>
                <p>
                <p>
                    @Html.ActionLink("Create New", "CreateV")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            "vin"
                        </th>
                        <th>
                            "make"
                        </th>
                        <th>
                            "model"
                        </th>
                        <th>
                            color
                        </th>
                        <th>
                            year
                        </th>
                        <th>
                            License Plate
                        </th>
                        <th></th>
                    </tr>

                    @for (int i = 0; i < Model.Vehicles.Count; i++)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Vehicles[i].Vin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Vehicles[i].Make)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Vehicles[i].Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Vehicles[i].Color)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Vehicles[i].Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Vehicles[i].LicensePlate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditV", new { id = Model.Vehicles[i].Id }) |
                                @Html.ActionLink("Details", "DetailsV", new { id = Model.Vehicles[i].Id }) |
                                @Html.ActionLink("Delete", "DeleteV", new { id = Model.Vehicles[i].Id })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>

        <div data-role="main" class="ui-content">
            <div data-role="collapsible">
                <h1>Quotes</h1>
                <p>
                    @Html.ActionLink("Create New", "CreateQ")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            CurrentNumberInHousehold
                        </th>
                        <th>
                            DateCreated
                        </th>
                        <th>
                           DateReview
                        </th>
                        <th>
                            DiscountPercentage
                        </th>
                        <th>
                           TotalCost
                        </th>
                        <th>
                           Quote.Approved
                        </th>
                        <th>
                           WorkDescription
                        </th>
                        <th></th>
                    </tr>

                    @for (int j = 0; j < Model.Quotes.Count; j++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Quotes[j].CurrentNumberInHousehold)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Quotes[j].DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Quotes[j].DateReview)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Quotes[j].DiscountPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Quotes[j].TotalCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Quotes[j].Approved)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Quotes[j].WorkDescription)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditQ", new { id = Model.Quotes[j].Id }) |
                                @Html.ActionLink("Details", "DetailsQ", new { id = Model.Quotes[j].Id }) |
                                @Html.ActionLink("Delete", "DeleteQ", new { id = Model.Quotes[j].Id })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</body>
