@using AutoMed.Models
@model IEnumerable<AutoMed.Models.Quote>


@{
    ViewBag.Title = "Quote Manager";
}

<h2>Quote Manager</h2>

<p>
    @Html.ActionLink("Create New Quote", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            ID : @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            Date Created
        </th>
        <th>
            Discount Percentage
        </th>
        <th>
            Total Cost
        </th>
        <th>
            Accept/Decline Quote
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Id):
            @Html.DisplayFor(modelItem => item.Customer.FirstName) @Html.DisplayFor(modelItem => item.Customer.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountPercentage) %
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.EnumDropDownListFor(modelItem => item.Approval)
        </td>
        <td>
            @* Need to fix the details, had a problem with viewing quote. *@
            @Html.ActionLink("Quote Details", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>

<div class="form-group">
    <div class="col-md-offset-10 col-md-2">
        <input type="submit" class="btn btn-default" value="Submit" />
    </div>
</div>